---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Carrito" description='Pagina de instrumentos musicales'>
	<main class="contenedor">
		<h1 class="heading">Carrito</h1>
	</main>
</Layout>

<style>
	
</style>
